@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title></title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css" rel="stylesheet" />


    <style>
        #editform {
            display: none;
        }
    </style>
</head>


<h3>User Detail </h3>
<br />
<div id="editform">
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <label for="txtUserId">User Id</label>
            <input type="text" class="form-control" id="txtUserId" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" id="txtPassword" />
        </div>
        <div class="form-group">
            <label>Group</label>
            <input type="text" class="form-control" id="txtGroup" />
        </div>
        <div class="form-group">
            <label>Role</label>
            <input type="text" class="form-control" id="txtRole" />
        </div>
        <div class="form-group">
            <label>DOB</label>
            <div>
                <input id="txtDOB" class="datepicker" data-date-format="mm/dd/yyyy">
            </div>
        </div>
        <div class="form-group">
            <label>Part</label>
            <div>
                <select id="selPart"></select>
            </div>
        </div>
        <div class="form-group" style="padding-top:30px">
            <table>
                <tr>
                    <td><button id="btnCancel" type="button" class="btn">Cancel</button></td>
                    <td style="padding-left:30px">
                        <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

<button id="btnAdd" type="button" class="btn btn-success">Add</button>
<br />

<table id="tbluser" class="table table-bordered table-responsive table-condensed">
    <thead>
        <tr class="btn-primary">
            <th>#</th>
            <th>User Id</th>
            <th>Password</th>
            <th>Group</th>
            <th>Role</th>
            <th>Part</th>
            <th>DOB</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        var editUserId = 0;

        $(function () {

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });

            loadUserGrid();
            loadPartList();

        });

        $("#btnSubmit").click(function () {
            var dobTxt = moment($("#txtDOB").val(), "DD/MM/YYYY");
            var dobDate = dobTxt.toDate();

            var p = {
                Id: editUserId,
                UserId: $("#txtUserId").val().trim(),
                Password: $("#txtPassword").val().trim(),
                Group: $("#txtGroup").val().trim(),
                Role: $("#txtRole").val().trim(),
                PartId: parseInt($("#selPart").val()),
                DOB: dobDate
            }

            if (editUserId > 0) {

                $.ajax({
                    type: 'PUT',
                    contentType: 'application/json; charset=utf-8',
                    url: '/User/Edit',
                    data: JSON.stringify(p)
                }).done(function (data, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        alert("Updated successfully!");
                        loadUserGrid();
                        $("#tbluser").show();
                        $("#btnAdd").show();
                        $("#editform").hide();
                    } else {
                        alert("Failed to update!");
                    }
                }).fail(function (xhr, status, error) {
                    alert(error);
                })
                    .always(function () {
                    });

            } else {


                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '/User/Add',
                    data: JSON.stringify(p)
                }).done(function (data, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        alert("Added successfully!");
                        loadUserGrid();
                        $("#tbluser").show();
                        $("#btnAdd").show();
                        $("#editform").hide();
                    } else {
                        alert("Failed to add!");
                    }
                }).fail(function (xhr, status, error) {
                    alert(error);
                })
                    .always(function () {
                    });


            }

        });

        $("#btnAdd").click(function () {
            editUserId = 0;
            clearEditForm();

            $("#tbluser").hide();
            $("#btnAdd").hide();
            $("#editform").show();
        });

        $("#btnCancel").click(function () {
            $("#tbluser").show();
            $("#btnAdd").show();
            $("#editform").hide();
        });

        var loadPartList = function () {

            var $select = $('#selPart')

            $.get('/Part/All', function (data) {
                console.log("data", data);;

                $select.append('<option value=0>Select Part</option>');
                $.each(data, function (i) {
                    $select.append('<option value=' + this.id + '>Part ' + this.partName + '</option>');
                })


            })
                .done(function (data, textStatus, jqXHR) {

                })
                .fail(function (xhr, status, error) {
                    alert(error);
                })
                .always(function () {
                });

        };

        var loadUserGrid = function () {

            $("#tbluser tbody").empty();

            $.get('/User/All', function (data) {
                console.log("data", data);;
                bindUserList(data);
            })
                .done(function (data, textStatus, jqXHR) {

                })
                .fail(function (xhr, status, error) {
                    alert(error);
                })
                .always(function () {
                });

        };

        var loadUserDetails = function (id) {

            clearEditForm();

            $.get('/User/' + id, function (data) {
                bindUserDetails(data);
            })
                .done(function (data, textStatus, jqXHR) {

                })
                .fail(function (xhr, status, error) {
                    alert(error);
                })
                .always(function () {
                });
        };

        var editUser = function (id) {
            editUserId = id;
            $("#tbluser").hide();
            $("#btnAdd").hide();
            $("#editform").show();
            loadUserDetails(id);
        };

        var deleteUser = function (id) {
            $.ajax({
                type: 'DELETE',
                contentType: 'application/json; charset=utf-8',
                url: '/User/' + id,
                async: false
            }).done(function (data, textStatus, jqXHR) {

                if (jqXHR.status === 200) {
                    alert("Deleted successfully!");
                    loadUserGrid();
                } else {
                    alert("Failed to update!");
                }
            }).fail(function (xhr, status, error) {
                alert(error);
            })
                .always(function () {
                });
        };

        var bindUserList = function (d) {
            $.each(d, function (i) {
                i++;
                var markup = "<tr><td>" + i + "</td><td>" + this.userId + "</td><td>" + this.password + "</td><td>" + this.group + "</td><td>"
                    + this.role + "</td><td>" + this.partName + "</td><td>" +
                    (this.dob ? moment(this.dob).format("Do MMM YYYY") : "") +
                    "</td><td><a href='#' onclick='editUser(" + this.id + ")'>Edit</a></td><td><a href='#'  onclick='deleteUser(" + this.id + ")'>Delete</a></td></tr>";
                $("#tbluser tbody").append(markup);
            })
        };

        var bindUserDetails = function (d) {

            console.log("bindUserDetails", d);
            $("#txtUserId").val(d.userId);
            $("#txtPassword").val(d.password);
            $("#txtGroup").val(d.group);
            $("#txtRole").val(d.role);
            $("#selPart").val(d.partId);
            $("#txtDOB").datepicker("update", (d.dob ? moment(d.dob).format("DD/MM/YYYY") : null));

        };

        var clearEditForm = function () {

            $("#selPart").val(0);
            $("#txtUserId").val("");
            $("#txtUserId").val("");
            $("#txtPassword").val("");
            $("#txtGroup").val("");
            $("#txtRole").val("");
            $("#txtDOB").datepicker("update", null);
        };

    </script>
}



